h1 {
  margin-top: 20%;
  font-size: 4em;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 7%;
}

.Container img {
  width: 65%;
  margin-left: 16%;
}

.modulesContainer {
  background-color: rgba(103, 90, 111);
  width: 65%;
  margin: 0 auto;
  padding: 5% 3% 10% 3%;
  text-align: center;
  border-radius: 15px;
}
