#heroNavbar {
  height: 100vh;
  background-image: url("../../assets/images/grave2.png");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 5%;
}

.navbar {
  display: grid;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.container {
  text-align: center;
  margin-top: 11%;
}

.title,
.subtitle {
  color: white;
}

.title{
  font-family: "Calibri";
  font-weight: 400;
  font-size: 2em;
}

.subtitle{
  margin-top: 2%;
  font-size: 5em;
}